[Unit]
Description=couchpotato container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a couchpotato
ExecStop=/usr/bin/docker stop -t 2 couchpotato

[Install]
WantedBy=default.target
