[Unit]
Description=plexrequests container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a plexrequests
ExecStop=/usr/bin/docker stop -t 2 plexrequests

[Install]
WantedBy=default.target
