[Unit]
Description=plexpy container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a plexpy
ExecStop=/usr/bin/docker stop -t 2 plexpy

[Install]
WantedBy=default.target
